*{
    margin:0;
}

/*nav{
    display:flex;
    background-color: white;
    border-color: black;
    border-width: 10px;
    align-content:space-between;
    height:100px;
}
*/
#nav-buttons{
    display:flex;
    justify-content:flex-end;
}
#title{
    display:flex;
}